<div class="container">
    <!-- <div class="modal_container" data-modal="profile-img">
        <div class="modal_content">
            <div class="image_upload_container">
                <div class="modal_header"><h3>Upload profile image</h3><button onclick="closeModal()"><i class="lni lni-plus"></i></button></div>
                <input style="position: absolute; visibility: hidden" type="file" id="upload-img-input">
                <div class="success_msg" id="success-msg"></div>
                <div class="img-requirement">
                    <div>
                        <img src="/img/instruction.svg" alt="instruction">
                    </div>
                </div>
                <div class="img-drop-zone" id="drop-zone">
                    <i class="lni lni-cloud-upload"></i>
                    <h3>Drag & drop to upload</h3>
                    <span class="browse-file" id="browse-file">or browse</span>
                </div>
                <div class="modal_footer">
                    <span id="file_name">Please, upload clear and professional picture showing your face.</span>
                    <button id="submit-user-image">Upload</button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="greet">
        <h4 id="welcome">Hi, <%= user?.username %> 👋</h4>
        <p>
            <a href="#"><img src="/img/layout/home.png" style="width: 15px;"></a> 
            <a href="#"> /Dashboard</a>
        </p>
    </div>
    <div class="notice_banner">
        <div class="content">
            <h2>Congratulations, <%= user?.username %>!</h2>
            <p>You're 40% toward getting a free Treasury Card</p>
            <span>Save more and login daily to increase your chance of getting a free Treasury Card</span>
        </div>
        <div class="thumbnail">
            <img src="/img/archievement.svg" alt="">
        </div>
    </div>
    
    <div class="cards__wrapper">
        <div class="cards">
            <div class="card1">
                <span>Available Balance</span>
                <h2 style="font-size: 1.35rem;"><%= (user?.available).toLocaleString('en-US', { style: 'currency', currency: 'USD', }) %></h2>
                <img src="/img/layout/icon-arrow-up.svg" class="icon-arrow-up">
                <p class="arrow-up"><%= Number(user?.recent_received ? user?.recent_received : 00).toLocaleString('en-US', { style: 'currency', currency: 'USD', }) %> </p>
                <img src="/img/layout/icon-arrow-down.svg" class="icon-arrow-down">
                <p class="arrow-down">$0.00</p>
            </div>
            <div class="card1">
                <span>Pending Fund</span>
                <h2 style="font-size: 1.35rem;"> <%= (user?.pending).toLocaleString('en-US', { style: 'currency', currency: 'USD', }) %></h2>
                <img src="/img/layout/icon-arrow-up.svg" class="icon-arrow-up">
                <p class="arrow-up">$0.00</p>
                <img src="/img/layout/icon-arrow-down.svg" class="icon-arrow-down">
                <p class="arrow-down">$0.00</p>
            </div>
            <div class="card1">
                <span>Reversed Fund</span>
                <h2 style="font-size: 1.35rem;"><%= (user?.reversed).toLocaleString('en-US', { style: 'currency', currency: 'USD', }) %></h2>
                <img src="/img/layout/icon-arrow-up.svg" class="icon-arrow-up">
                <p class="arrow-up">$0.00</p>
                <img src="/img/layout/icon-arrow-down.svg" class="icon-arrow-down">
                <p class="arrow-down">$0.00</p>
            </div>
            <div class="card1">
                <span>Tax Fund</span>
                <h2 style="font-size: 1.35rem;"><%= (user?.tax).toLocaleString('en-US', { style: 'currency', currency: 'USD', }) %></h2>
                <img src="/img/layout/icon-arrow-up.svg" class="icon-arrow-up">
                <p class="arrow-up">$0.00</p>
                <img src="/img/layout/icon-arrow-down.svg" class="icon-arrow-down">
                <p class="arrow-down">$0.00</p>
            </div>
        </div>
    
        <div class="card__profile card__section">
            <div class="form__wrapper">
                <h4>Transactions</h4>
                <div>
                    <div class="transaction__wrapper" id="transaction__wrapper">
                        <button class="send__money alert-card" id="send-money-btn">Send money/withdraw</button>
                    </div>
                    <div class="form__inner" id="form_place">
    
                        <div class="img_wrapper_form" id="img_wrapper_form">
                            <img src="/img/save-money.gif" alt="" srcset="">
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card__profile user__spec">
            <div class="dashboard__profile">
                <div class="profile__avatar">
                    <img src=<%= user?.profile && !user?.pending ? user?.profile : "/img/default-avatar.png" %> alt="<%= user?.username %> avatar" />
                </div>
                <div class="profile__details">
                    <h4><%- first_name %> <%- other_name %></h4>
                    <p>
                        <%= date?.toLocaleString() %> | &nbsp;
                        <% if (user?.account_status == "on") { %>
                        <p style="color: rgb(11, 189, 11);"> Verified </p>
                            <% } else { %>
                        <p style="color: #ffa500;"> Pending </p>
                            <% } %>
                    </p>
                </div>
                <!-- <hr> -->
                <div class="profile__data">
                    <div class="icon__data">
                        <div class="icon">
                            <img src="/img/layout/user.svg" alt="" srcset="">
                        </div>
                        <span><%= user?.first_name + ' ' + user?.other_name %> </span>
                    </div>
                    <div class="icon__data">
                        <div class="icon">
    
                            <img src="/img/layout/identification.svg" alt="" srcset="">
                        </div>
                        <span><%= user?.user_id %></span>
                    </div>
                    <div class="icon__data">
                        <div class="icon">
                            <img src="/img/layout/email.svg" alt="" srcset="">
                        </div>
                        <span><%= user?.email?.length > 25 ? user?.email?.substr(0,25) + "..." : user?.email %></span>
                    </div>
                    <div class="icon__data">
                        <div class="icon">
                            <img src="/img/layout/phone-call.svg" alt="" srcset="">
                        </div>
                        <span><%= user?.number %></span>
                    </div>
                    <div class="icon__data">
                        <div class="icon">
                            <img src="/img/layout/calendar.svg" alt="" srcset="">
                        </div>
                        <span><%= user.dob && user?.dob?.toLocaleString() %></span>
                    </div>
                    <!-- <hr> -->
                    <div class="profile__location">
                        <div class="icon__data">
                            <div class="icon">
                                <img src="/img/layout/placeholder.svg" class="profile__location-img">
                            </div>
                            <span><%= user?.address_line1?.substr(0,50) %></span>
                        </div>
                        <div class="icon__data">
                            <div class="icon">
                                <img src="/img/layout/placeholder.svg" class="profile__location-img">
                            </div>
                            <span class="user__data"><%= user.city %>, <%= user.country %></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="transactions_grid">
        <div class="table_container">
            <div class="table_header">
                <h3>Latest transactions</h3>
                <button>Report</button>
            </div>

            <% if(user?.available > 0){ %>
                <div id="transaction-table" class="ag-theme-alpine"></div>
             <% } %>
            
        </div>
    </div>
    <!-- table  -->

</div>