<div class="right_col text-center" role="main">
  <div class="tile_count text-center overview">
    
    <div class="row">
      <div class="col-md-12 col-sm-12 ">
            <div class="col-md-3 col-sm-3  profile_left">
              <div class="profile_img">
                <div id="crop-avatar">
                  <!-- Current avatar -->
                  <img class="img-responsive avatar-view" src="/images/picture.jpg" alt="Avatar" title="Change the avatar">
                </div>
              </div>
              <h3><%- `${first_name} ${other_name}` %> </h3>
              <hr>
              <li><i class="fa fa-briefcase user-profile-icon"></i><span class="blue"> Account ID:</span> <%- account %></li>

              <ul class="list-unstyled user_data">
                <hr>
                <li><i class="fa fa-map-marker user-profile-icon"></i>
                  <%- address %> 
                </li>
                <li><i class="fa fa-envelope-o user-profile-icon"></i>
                  <%- email %> 
                </li>
                <li><i class="fa fa-phone user-profile-icon"></i>
                  <%- number %> 
                </li>
                <li><i class="fa fa-calendar user-profile-icon"></i>
                  <%- dob %> 
                </li>
                <li><i class="fa fa-calendar-o user-profile-icon"></i>
                  <span class="blue">Member since:</span> <%- `${months[date.getMonth()]}, ${date.getFullYear()}` %> 
                </li>
                <hr>
              </ul>
              <!-- end of skills -->

            </div>

            <div class="col-md-9 col-sm-9 ">

                              <div class="profile_title">
                                <div class="col-md-6">
                                  <h2>User Activity Report</h2>
                                </div>
                                <div class="col-md-6">
                                  <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    <span><%- date %></span> <b class="caret"></b>
                                  </div>
                                </div>
                              </div>
            
                              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                  <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Recent Activity</a>
                                  </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                  <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">
            
                                    <!-- start recent activity -->
                                    <ul class="messages">
                                      <li>
                                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                          <h3 class="date text-info"><%- date.getDay() %> </h3>
                                          <p class="month"><%- months[date.getMonth()] %> </p>
                                        </div>
                                        <div class="message_wrapper">
                                          <h4 class="heading"><%- `${first_name} ${other_name} `%> </h4>
                                          <blockquote class="message">You changed your password? if not, contact us now. | <%- `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}` %> </blockquote>
                                          <br />
                                          <p class="url">
                                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                            <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                          </p>
                                        </div>
                                      </li>
            
                                    </ul>
                                    <!-- end recent activity -->
            
                                  </div>
                                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">









            
                                    <!-- start user projects -->
                                    <table class="data table table-striped no-margin">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Project Name</th>
                                          <th>Client Company</th>
                                          <th class="hidden-phone">Hours Spent</th>
                                          <th>Contribution</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>1</td>
                                          <td>New Company Takeover Review</td>
                                          <td>Deveint Inc</td>
                                          <td class="hidden-phone">18</td>
                                          <td class="vertical-align-mid">
                                            <div class="progress">
                                              <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <!-- end user projects -->









                                    
            
                                  </div>
                    
                                </div>
                              </div>
        </div>
      </div>
    </div>
  </div>
</div>
