<div class="container">
    <div class="card mb-4 mt-4">
        <% if (user.checkpoint == "Linked Account") { %>
        <form action="/users/checkpoint/<%= user.id %>?_method=PUT" method="POST">
            <div class="card-header">
                <h4><%= user.checkpoint %> </h4>
                <p class="text-muted">
                    Available balance:
                    <%= (user.available).toLocaleString('en-US', { style: 'currency', currency: 'USD', }) %> </p>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label class="form-label">Bank Name</label>
                        <input type="text" class="form-control">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md">
                        <label class="form-label">Account Name</label>
                        <input type="text" class="form-control" rows="3" />
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label class="form-label">Account Number</label>
                        <input type="text" class="form-control">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md">
                        <label class="form-label">Amount</label>
                        <input type="text" class="form-control" rows="3" />
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Transfer Description</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label class="form-label">Transfer Access Id (TAI)</label>
                        <input type="text" class="form-control">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md">
                        <label class="form-label">Confirm Password</label>
                        <input type="text" class="form-control" rows="3" />
                        <div class="clearfix"></div>
                    </div>
                </div>
                <button type="Submit" class="btn btn-primary" id="transBtn">Transfer</button>
        </form>
        <% } %>
        <% if (user.checkpoint == "Other Banks") { %>
        <form action="/users/checkpoint/<%= user.id %>?_method=PUT" method="POST">
            <div class="card-header">
                <h4><%= user.checkpoint %> </h4>
                <p class="text-muted">
                    Available balance:
                    <%= (user.available).toLocaleString('en-US', { style: 'currency', currency: 'USD', }) %> </p>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label class="form-label">Bank Name</label>
                        <input type="text" class="form-control" placeholder="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md">
                        <label class="form-label">Account Name</label>
                        <input type="text" class="form-control" rows="3" placeholder="" />
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label class="form-label">Account Number</label>
                        <input type="text" class="form-control" placeholder="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md">
                        <label class="form-label">Amount</label>
                        <input type="text" class="form-control" rows="3" placeholder="" />
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Transfer Description</label>
                    <input type="text" class="form-control" placeholder="" />
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label class="form-label">Transfer Access Id (TAI)</label>
                        <input type="text" class="form-control" placeholder="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md">
                        <label class="form-label">Confirm Password</label>
                        <input type="text" class="form-control" rows="3" placeholder="" />
                        <div class="clearfix"></div>
                    </div>
                </div>
                <button type="Submit" class="btn btn-primary" id="transBtn">Transfer</button>
        </form>
        <% } %>
        <% if (user.checkpoint == "Foreign Transfer") { %>
        <form action="/users/checkpoint/<%= user.id %>?_method=PUT" method="POST">
            <div class="card-header">
                <h4><%= user.checkpoint %> </h4>
                <p class="text-muted">
                    Available balance:
                    <%= (user.available).toLocaleString('en-US', { style: 'currency', currency: 'USD', }) %> </p>
                <h2>Coming Soon</h2>
                <a href="/dashboard" class="btn btn-info">Return to Dashboard</a>
                <!-- <div class="form-row">
                    <div class="form-group col-md">
                        <label class="form-label">Bank Name</label>
                        <input type="text" class="form-control" placeholder="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md">
                        <label class="form-label">Account Name</label>
                        <input type="text" class="form-control" rows="3" placeholder="" />
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label class="form-label">Account Number</label>
                        <input type="text" class="form-control" placeholder="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md">
                        <label class="form-label">Amount</label>
                        <input type="text" class="form-control" rows="3" placeholder="" />
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Transfer Description</label>
                    <input type="text" class="form-control" placeholder="" />
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label class="form-label">Transfer Access Id (TAI)</label>
                        <input type="text" class="form-control" placeholder="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md">
                        <label class="form-label">Confirm Password</label>
                        <input type="text" class="form-control" rows="3" placeholder="" />
                        <div class="clearfix"></div>
                    </div>
                </div>
                <button type="Submit" class="btn btn-primary" id="transBtn">Transfer</button> -->
        </form>
        <% } %>
    </div>
</div>