<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up For  Free Online Banking | Treasury PayInt</title>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <!-- Primary Meta Tags -->
    <meta name="description" content="Sign up to Treasury PayInt. With Treasury PayInt international online banking you can send money across the globe. Treasury PayInt is secure and easy to use. Treasury PayInt is user friendly you will always love to use it.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.treasurypayint.com/users/auth/register">
    <meta property="og:title" content="Sign Up For  Free Online Banking | Treasury PayInt">
    <meta property="og:description" content="Sign up to Treasury PayInt. With Treasury PayInt international online banking you can send money across the globe. Treasury PayInt is secure and easy to use. Treasury PayInt is user friendly you will always love to use it.">
    <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.treasurypayint.com/users/auth/register">
    <meta property="twitter:title" content="Sign Up For  Free Online Banking | Treasury PayInt">
    <meta property="twitter:description" content="Sign up to Treasury PayInt. With Treasury PayInt international online banking you can send money across the globe. Treasury PayInt is secure and easy to use. Treasury PayInt is user friendly you will always love to use it.">
    <meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
</head>
<body>
    <section>
        <div class="container">
        <div class="user signinBx">
            <div class="imgBx">
                <div class="brand-logo">
                    <img src="/img/logo.svg" alt="">
                </div>
                <div class="brand">
                    <h2>Treasury PayInt <span>int'l &trade;</span></h2>
                    <p>Move your money with the most trusted online banking without stress or delay.</p>
                </div>
            </div>
            <div class="formBx">
                <form action="/users/auth/login" method="post">
                    <h2>Sign In</h2>
                    <%- include('./partials/message'); %>
                    <div class="username-field">
                        <ion-icon class="left-icon" name="person"></ion-icon>
                        <label for="username">Username</label>
                        <input autofocus="true" type="text" name="username" id="username" placeholder="Username" />
                    </div>
                    <div class="password-field">
                        <div class="label-password">
                            <ion-icon class="left-icon" name="lock-closed"></ion-icon>
                            <label for="password">Password</label>
                            <a href="/users/auth/forgot-password">Forgot password?</a>
                        </div>
                        <input type="password" name="password" id="password1" placeholder="Password" />
                        <ion-icon class="right-icon eye1" name="eye" onclick="view1()"></ion-icon>
                        <ion-icon class="right-icon eye-off1" name="eye-off" onclick="hide1()"></ion-icon>
                    </div>
                    <button>Login</button>
                    <p class="signup">
                    Don't have an account?
                    <a href="/users/auth/register" onclick="toggleForm();">Sign Up.</a>
                    </p>
                </form>
            </div>
        </div>
        <div class="user signupBx">
            <div class="formBx">
                <form action="/users/auth/register" method="post">
                    <h2>Create an account</h2>
                    <%- include('./partials/message'); %>
                    <div class="username-field">
                        <ion-icon class="left-icon" name="pricetag"></ion-icon>
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" value="<%= typeof username != 'undefined' ? username : '' %>" placeholder="Choose username" />
                    </div>
                    <div class="firstname-field">
                        <ion-icon  class="left-icon icon" name="person"></ion-icon>
                        <label for="first_name">First name</label>
                        <input type="text" name="first_name" id="first_name" value="<%= typeof first_name != 'undefined' ? first_name : '' %>" placeholder="First name" />
                    </div>
                    <div class="lastname-field">
                        <ion-icon  class="left-icon icon" name="person"></ion-icon>
                        <label for="other_name">Last name</label>
                        <input type="text" name="other_name" id="other_name" value="<%= typeof other_name != 'undefined' ? other_name : '' %>" placeholder="Last name" />
                    </div>
                    <div class="email-field">
                        <ion-icon class="left-icon" name="mail"></ion-icon>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" value="<%= typeof email != 'undefined' ? email : '' %>" placeholder="Email" />
                    </div>
                    <div class="password-field">
                        <ion-icon class="left-icon" name="lock-closed"></ion-icon>
                        <label for="password">Choose password</label>
                        <input type="password" name="password" id="password2" placeholder="Choose password" />
                        <ion-icon class="right-icon eye2" name="eye" onclick="view2()"></ion-icon>
                        <ion-icon class="right-icon eye-off2" name="eye-off" onclick="hide2()"></ion-icon>
                    </div>
                    <div class="password-field">
                        <ion-icon class="left-icon" name="lock-closed"></ion-icon>
                        <label for="password2">Confirm password</label>
                        <input type="password" name="password2" id="password3" placeholder="Retype password" />
                        <ion-icon class="right-icon eye3" name="eye" onclick="view3()"></ion-icon>
                        <ion-icon class="right-icon eye-off3" name="eye-off" onclick="hide3()"></ion-icon>
                    </div>
                    <button type="submit">Sign up</button>
                    <p class="signup">
                    Already have an account?
                    <a href="/users/auth/login" onclick="toggleForm();">Sign in.</a>
                    </p>
                </form>
            </div>
            <div class="imgBx">
                <div class="brand-logo">
                    <img src="/img/logo.svg" alt="">
                </div>
                <div class="brand">
                    <h2>Treasury PayInt <span>int'l &trade;</span></h2>
                    <p>Move your money with the most trusted online banking without stress or delay.</p>
                </div>
                <div class="support">
                    <a href="mailto:support@treasurypayint.com">contact@treasurypayint.com</a>
                </div>
            </div>
        </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/auth.js"></script>
</body>
</html>